<%- include('header')-%>
<%- include('navbar', {page : ''})-%>

    <div class="container">
      <form>
        <div class="mb-3">
          <label for="exampleSelectTableStatus" class="form-label">Table Status Update</label>
          <select class="form-select" id="exampleSelectTableStatus">
            <option value="2" <%if(table.state === 'occupied'){%> selected <%}%>>Occupied</option>
            <option value="1" <%if(table.state === 'reserved'){%> selected <%}%>>Reserved</option>
            <option value="0" <%if(table.state === 'empty'){%> selected <%}%>>Empty</option>
          </select>
        </div>
        <a href="/table/updateStatus/:tableId" class="btn btn-primary">Update Status</a>
        <a href="/table/:tableId" class="btn btn-secondary">Cancel</a>
      </form>
    </div>

<%- include('footer')-%>