<%- include('header')-%>
<%- include('navbar', {page : ''})-%>

    <div class="container">
      <form>
        <div class="mb-3">
          <label for="exampleSelectTableOrder" class="form-label">Add Order</label>
          <select id="exampleSelectTableOrder" class="form-select">
            <option value="1">Espresso</option>
            <option value="0">Cappuccino</option>
          </select>
        </div>
        <a href="/table/addOrder/:tableId/:coffeeId" class="btn btn-primary">Add Order</a>
        <a href="/table/:tableId" class="btn btn-secondary">Cancel</a>
      </form>
    </div>

<%- include('footer')-%>